<div class="container">
  <mat-card class="card">
    <mat-card-title class="mb">Registrati</mat-card-title>
    <mat-card-content>
        <form class="example-form" #form="ngForm" (ngSubmit)="onsubmit(form)">
        <mat-form-field
          class="example-full-width"
          appearance="fill"
          color="accent"
        >
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Nome"
            type="text"
            #name="ngModel"
            ngModel
            name="name"
            required
          />
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          appearance="fill"
          color="accent"
          type="text"
        >
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            type="email"
            #email="ngModel"
            ngModel
            name="email"
            required
          />
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          appearance="fill"
          color="accent"
          type="email"
        >
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            #password="ngModel"
            placeholder="Password"
            ngModel
            name="password"
            required
          />
        </mat-form-field>
        <mat-card-actions>
          <div class="center">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
              Registrati
            </button>
          </div>
        </mat-card-actions>
      </form>
      </mat-card-content>
    <mat-card-footer>
      <p>
        Sei già registrato?
        <span class="ul" [routerLink]="'/login'" >Accedi!</span>
      </p>
    </mat-card-footer>
  </mat-card>
</div>
